
body {
    background-color: black;
    color: lime;
    font-family: monospace;
    padding: 2rem;
}
a {
    color: red;
}
.login-container, .archive {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
